---
import Layout from "../layouts/Layout.astro";
import franklins from "../data/franklins.json";
import GalleryCarousel from "../components/GalleryCarousel.jsx";
import images from "../data/images.json";

const pageTitle = "Biler i norge";
---

<Layout pageTitle={pageTitle}>
  <div>
    <section class="container shadow-effect mx-auto p-3 pt-6 sm:p-6 md:p-12 mb-10">
      <h1 class="tracking-tight">Biler i Norge</h1>
      <p>
        Her er en oversikt over kjente Franklin-biler i Norge. Hvis du vet om en
        norskeid Franklin vi ikke har registrert her, ta <a href="/kontakt"
          >kontakt</a
        >!
      </p>
  <div class="pt-4 md:grid md:grid-cols-2 car-list-grid">
        {(() => {
          const sorted = [...franklins].sort((a, b) => a.year - b.year);
          const mid = Math.ceil(sorted.length / 2);
          const left = sorted.slice(0, mid);
          const right = sorted.slice(mid);
          return [left, right].map((colArr) => (
            <ul class="flex flex-col md:gap-0.5">
              {colArr.map((franklin) => (
                <li class="text-lg">
                  <a href={`/cars/${franklin.id}`} class="card-link">
                    {franklin.year} {franklin.name}
                  </a>
                </li>
              ))}
            </ul>
          ));
        })()}
      </div>
    </section>
    <section class="container mx-auto pb-16">
      <h2 class="text-center pt-12 pb-6">Historiske biler</h2>
      <p class="px-12 paragraph">Galleriet viser bilder av historisk verdi for Franklin-registeret: unike glimt av Franklin-biler fra tiden de var i bruk, sjeldne motormodeller og verksteder knyttet til merket. Her får man se originalfotografier av biler som ikke lenger finnes, samt steder og miljøer med tilknytning til Franklin-historien – til inspirasjon og glede for alle Franklin-entusiaster.</p>
  <GalleryCarousel client:load images={images} />
    </section>
  </div>
</Layout>
