---
import Layout from '../../../layouts/Layout.astro';
import carData from '../../../data/franklins.json';
import SwiperModal from '../../../components/SwiperModal.jsx';

const { id } = Astro.params;
const franklin = carData.find((c) => c.id === Number(id));

if (!franklin) {
  throw new Error(`Ingen bil funnet med ID ${id}`);
}
const images = franklin.images || [];
---
<Layout>
  <div class="container mx-auto mb-10 px-4">
    <h2 class="font-bold mb-6 text-center">Fotoalbum: {franklin.year} {franklin.name}</h2>
    <SwiperModal images={images} client:load />

    <div class="mt-8 text-center">
      <a href={`/cars/${id}`} class="text-blue-700 pt-4 underline">Tilbake til bilfakta</a>
    </div>
  </div>
</Layout>

