---
import Layout from '../../../layouts/Layout.astro';
import carData from '../../../data/franklins.json'; // Eller '../data/cars.yaml'

const { id } = Astro.params;
const franklin = carData.find((c) => c.id === Number(id));

if (!franklin) {
  throw new Error(`Ingen bil funnet med ID ${id}`);
}

const hasImages = franklin.images && franklin.images.length > 0;
const hasMultipleImages = franklin.images && franklin.images.length > 1;
const hasCharacteristicData = franklin.characteristics && franklin.characteristics.length > 0;
---
<Layout>
  <div class="container shadow-effect mx-auto mb-10">
    {hasImages && franklin.images[0] ? (
      <figure class="relative bg-white rounded shadow p-4 flex flex-col items-center w-full mb-4">
        <img
          src={franklin.images[0].url}
          alt={`Bilde av ${franklin.name}`}
          class="w-full h-auto object-cover rounded"
        />
        {'photographer' in franklin.images[0] && franklin.images[0].photographer ? (
          <figcaption class="text-xs text-gray-700 mt-2 w-full text-center self-end">
            Foto: <span>{franklin.images[0].photographer}</span>
          </figcaption>
        ) : null}
      </figure>
    ) : null}
    <div class="px-8 pt-4 pb-8">

      <h2 class="tracking-tight">{franklin.year} {franklin.name}</h2>
      <p><strong>Eier:</strong> {franklin.owner}</p>
      <div class="grid grid-cols-2 gap-4">
        <div>
  
          <p><strong>Motor:</strong></p>
          <ul class="list-disc list-inside">
            {franklin.engine?.cylinders && (
              <li>
                {franklin.engine.cylinders} sylindre
              </li>
            )}
            {franklin.engine?.volume && (
              <li>
                Volum: {franklin.engine.volume}L
              </li>
            )}
            {franklin.engine?.power && (
              <li>
                {franklin.engine.power} hk
              </li>
            )}
          </ul>
        </div>
        <div>
  
          <p><strong>Girkasse:</strong></p>
          <ul class="list-disc list-inside">
            {franklin.transmission?.type && (
              <li>
                Type: {franklin.transmission.type}
              </li>
            )}
            {franklin.transmission?.gears && (
              <li>
                Antall gir: {franklin.transmission.gears}
              </li>
            )}
          </ul>
        </div>
      </div>
      {hasCharacteristicData ? (
        <p><strong>Karakteristika:</strong></p>
        <ul>
        {franklin.characteristics.map((char) => (
          <li>{char}</li>
        ))}
      </ul>) : null}
      {hasMultipleImages ? (
        <a href={`/cars/${id}/album`} class="block mt-4 text-blue-700 underline">Se flere bilder</a>
      ) : null}
      <a href="/franklininnorway" class="block mt-2">Tilbake til oversikten</a>
    </div>
  </div>
</Layout>

<style>
  
</style>