---
import Layout from '../../../layouts/Layout.astro';
import carData from '../../../data/franklins.json'; // Eller '../data/cars.yaml'

const { id } = Astro.params;
const franklin = carData.find((c) => c.id === Number(id));

if (!franklin) {
  throw new Error(`Ingen bil funnet med ID ${id}`);
}

const hasImage = franklin.imageUrl && franklin.imageUrl.length > 0;
const hasCharacteristicData = franklin.characteristics && franklin.characteristics.length > 0;
---
<Layout>
  <div class="container w-1/2 bg-slate-50 shadow-2xl mx-auto p-8 mb-10">
    {hasImage ? (
      <img
        src={franklin.imageUrl}
        alt={`Bilde av ${franklin.name}`}
        class="w-full h-auto mb-4 border-1 border-sky-800 shadow-lg"
      />
    ) : null}
    <h2>{franklin.year} {franklin.name}</h2>
    <p><strong>Eier:</strong> {franklin.owner}</p>
    <p><i>Denne seksjonen vil bli utvidet og oppdatert når alle kjente Frankliner i Norge er lagt inn i systemet.</i></p>
    <p><strong>Motor:</strong> {franklin.engine.cylinders} sylindrer, {franklin.engine.volume}L</p>
    {hasCharacteristicData ? (
      <p><strong>Karakteristika:</strong></p>
      <ul>
      {franklin.characteristics.map((char) => (
        <li>{char}</li>
      ))}
    </ul>) : null}
    <a href="/franklininnorway">Tilbake til oversikten</a>
  </div>
</Layout>